/* CSS Document
 * Authors: Sara Hoffman and Taylor Kennedy
 * CS 325 Final Project
 * Website for Lutian & Monteleone

 CSS for About.html (About Us page)
 */

/* Set image size and float them to wrap text */
#main img {
    width: 25%;
    float: left;
    margin-right: 20pt;
    margin-bottom: 2%;
}

/* Clear headers from text wrapped around images */
#main h3 {
    clear: both;
    margin-top: 10pt;
}