/* CSS Document
 * Authors: Sara Hoffman and Taylor Kennedy
 * CS 325 Final Project
 * Website for Lutian & Monteleone

 CSS for all pages of Lutian & Monteleone
 */

@charset "UTF-8";

/* Set background image and font*/
body {
    background: url("images/background.jpg") no-repeat;
    background-size: cover;
    font-family: Futura, sans-serif;
}

hr {
    margin: 0;
    border-color: white;
    color: white;
    background-color: white;
}

h1 {
    color: white;
    font-size: 40pt;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

#amp {
    color: #6c6c6c;
}

#title {
    text-align: center;
    width: 100%;
    background-color: black;
    margin: 0;
}

#title a {
    text-decoration: none;
}

#nav_bar {
    text-align: center;
    background-color: black;
}

#nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
    display: inline-block;
}

#nav_bar li {
    float: left;
}

#nav_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 14pt;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#nav_bar li a:hover {
    background-color: #393939;
}

#main {
    width: 85%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    overflow: auto;
    display: block;
}

#main h2 {
    color: black;
    text-decoration: underline;
    text-decoration-color: #000;
    margin-top: 14pt;
    margin-bottom: 8pt;
}

a {
    text-decoration: none;
}

#container {
    min-height: 100%;
    position: relative;
    margin-bottom: 50px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
    height: 35px;
    margin-bottom: -45px;
}

.footer p {
    float: left;
    color: white;
    line-height: 32px;
}

.sm-list {
    list-style: none;
    float: right;
    clear: both;
    margin: 0;
}

.sm-list li {
    float: left;
    margin-right: 12px;
    height: 32px;
    width: 32px;
}

#fb-btn-image {
    background-image: url("images/facebook-icon.png");
}

#yt-btn-image {
     background-image: url("images/yt-icon.png");
 }

#tw-btn-image {
    background-image: url("images/twitter-icon.png");
}

#ig-btn-image {
    background-image: url("images/instagram-icon.png");
}

#fb-btn-image, #yt-btn-image, #tw-btn-image, #ig-btn-image {
    background-size: cover;
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
}

#fb-btn-image:hover > .overlay, #ig-btn-image:hover > .overlay, #tw-btn-image:hover > .overlay, #yt-btn-image:hover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
    background-color:#000;
    opacity:0.5;
    border-radius: 35px;
}