/* CSS Document
 * Authors: Sara Hoffman and Taylor Kennedy
 * CS 325 Final Project
 * Website for Lutian & Monteleone

 CSS for ContactUs.php (Contact Us page)
 */

#pic {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#columns {
    width: 100%;
    text-align: center;
}

#main h2 {
    color: black;
    text-decoration: underline;
    text-decoration-color: #000;
    margin-top: 14pt;
    margin-bottom: 8pt;
}

form {
    background-color: white;
    width: fit-content;
    clear: both;
}

#column-left, #column-right {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

img {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

input {
    margin: 2pt;
}

.sm-list {
    float: none;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
}