/* CSS Document
 * Authors: Sara Hoffman and Taylor Kennedy
 * CS 325 Final Project
 * Website for Lutian & Monteleone
 */

#info {
    width: 85%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    overflow: auto;
}

#pic {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#columns {
    width: 100%;
    text-align: center;
}

#info h2 {
    color: black;
    text-decoration: underline;
    text-decoration-color: #000;
    margin-top: 14pt;
    margin-bottom: 8pt;
}

form {
    background-color: white;
    width: fit-content;
    clear: both;
}

a {
    text-decoration: none;
}

fieldset {
    width: fit-content;
}

#column-left, #column-right {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

img {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

input {
    margin: 2pt;
}

.sm-list {
    float: none;
    margin: 0 auto;
    padding: 0;
}