/* CSS Document
 * Authors: Sara Hoffman and Taylor Kennedy
 * CS 325 Final Project
 * Website for Lutian & Monteleone

 CSS for Projects.html (Projects page)
 */

/* Clear titles from text wrapping around logos */
#main h3 {
    clear: both;
    margin-top: 10pt;
}

/* Format logo images to proper size and set text wrapping */
.logo {
    width: 12%;
    float: left;
    margin-right: 20pt;
    margin-bottom: 2%;
}
