/* CSS Document
 * Authors: Sara Hoffman and Taylor Kennedy
 * CS 325 Final Project
 * Website for Lutian & Monteleone
 */

#proj {
    width: 85%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    overflow: auto;
}

#proj h2 {
    color: black;
    text-decoration: underline;
    text-decoration-color: #000;
    margin-top: 14pt;
    margin-bottom: 8pt;
    clear: both;
}

#proj h3 {
    clear: both;
    margin-top: 10pt;
}

.logo {
    width: 12%;
    float: left;
    margin-right: 20pt;
    margin-bottom: 2%;
}
